/C:\Users\POS\Desktop\IdeaProjects\Appium\Apps\all-currency-converter-3-9-0 (1).apk
/C:\Users\POS\Desktop\IdeaProjects\Appium\Apps\APK Info_1.16.00_Apkpure.apk
/C:\Users\POS\Desktop\IdeaProjects\Appium\Apps\arabam.com_4.8.0_Apkpure.apk
/C:\Users\POS\Desktop\IdeaProjects\Appium\Apps\Calculator_8.4.1 (520193683)_Apkpure.apk
/C:\Users\POS\Desktop\IdeaProjects\Appium\Apps\Kiwi.com - Book Cheap Flights_2023.14.0_Apkpure (1).apk